.page-select {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.page-select .current-selection {
  font-size: 20px;
  font-weight: bold;
}

.page-select-option {
  padding: 5px;
  cursor: pointer;
}
