.builder-page {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  flex: 1;
}

.page-title {
  font-size: 20px;
}

.builder-page .page-row {
  margin: 15px;
}
