.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.builder-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dashboard-tabs {
  padding: 20px;
  background-color: #9bd2fb;
}

.dashboard-form-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
