.form-placeholder {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.form-placeholder-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%) scaleY(2);
  font-size: 30px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
